.search {
    position: absolute;
    bottom: -45px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    background-color: white;
    z-index: 3;
    &:focus {
        border: none;
        outline: none;
    }

    &Result {
        position: absolute;
        width: 100%;
        top: 45px;
        left: 0;
        max-height: 420px;
        z-index: 11;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        &Wrapper {
            display: flex;
            flex-direction: column;
            background: #f8f7f7;

            &ItemWrapper {
                border-bottom: 1px solid #e5e5e5;
                background: #f8f7f7;
                padding: 5px 0;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #efefef;           
                }
            }
        }
    }
}

.favIcon {
    cursor: pointer;

    &Active {
        fill: rgb(216, 191, 29) !important;
    }
}